<div class="center hero-unit">
	<h1>Welcome to the best mobile game search</h1>

	<h2> This is the home page for the mobile game search that tells you if a game is really free or not. </h2>
	
	<p>Don't we all wanted to throw our mobile out of the window from the 30th floor of some skyscraper because we wasted our time on a game
		that became unplayable after a day. I know I did.</p>
	
	<p>why better, why this one ...</p>
</div>

<div class="center hero-unit">
	<h1>Browse the games</h1>

    <%= render 'games/game_list' %>
</div>

